@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: normal;
}

p {
    margin-bottom: 1em;
}

ul, ol {
    list-style: none; 
}

a {
    text-decoration: none;
    color: inherit; 
}

table {
    border-collapse: collapse;
    width: 100%; 
}

th {
    text-align: left;
}



input, button, textarea, select {
    font: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.header {
    position: relative;
    background-color: #E9DED4;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('img/bg-grey.png');
    background-repeat: no-repeat;
    background-size: cover;    
    opacity: 0.1;
}


.header__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 26px 0 132px 72px ;
    max-width: 1366px;
    font-size: 20px;
    margin: 0 auto;


}

.header__background-images {
    position: absolute;
    top: 0;
    right: 0;
    width: 1366px;
    height: 700px;
    background-image:
    url('img/chess3.png'), 
    url('img/chess4.png'), 
    url('img/city.png'), 
    url('img/path.png'), 
    url('img/chess.png'), 
    url('img/chess2.png'),
    url('img/Group.png'),
    url('img/Ellipse.png');
    background-repeat: no-repeat;
    background-position: 
        832px 481px,
        1236px 558px,
        -117px 268px,
        -123px 259px,
        1062px 163px,
        729px 266px,
        617px 0px,
        675px 0px;
}
.header__content {
}

.header__club {
    display: flex;
    align-items: center;
    margin-bottom: 62px;
}

.header__club-img {
    display: flex;
    align-items: center;
    margin-right: 6px;
}   
.header__horse {}

.header__club-name {
    text-transform: uppercase;
    font-family: "Golos Text", sans-serif;
    font-weight: bold;
    font-size: 16.65px;
    color: #595653;
    line-height: 16px;
}

.header__about {
    max-width: 542px;
    display: flex;
    flex-direction: column;
}

.header__title{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    font-size: 60px;
    font-family: "Merriweather", serif;
    color: #313131;
    line-height: 4.1rem;
}

.header__center-title {
    display: flex;
    justify-content: center;
}

.header__bottom-title {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
}

.header__subtitle {
    text-align: center;
    margin-bottom: 43px;
}

.header__buttons {
    display: flex;
    justify-content: space-between;
}

.header__button {
    font-family: "Golos Text", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: medium;
    padding: 14px 49px;
    border : 2px solid #1F1F1F;
    border-radius: 66px;
    color: #1F1F1F;
    max-width: 263px;
    width: 100%; 
}

.running-line {
    width: 1366px;
    height: 60px;
    background-color: #F54932;
    color: white;
    font-size: 22px;
    font-family: "Merriweather", serif;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.running-line-inner {
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(65%); /* Начальная позиция (справа) */
    }

    100% {
        transform: translateX(-100%); /* Конечная позиция (слева) */
    }
}

.main {
    max-width: 1366px;
    width: 100%;
    padding: 80px 72px;
}

.main__container {
    width: 100%;
}

.main__running-line-text::after {
    content: '•';
    display: inline-block;
    transform: scale(1.5);
    margin: 0 12px;
}

.main__tournament-lecture {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 64px;
}

.tournament-lecture-text {
    font-family: "Merriweather", serif;
    font-size: 36px;
    max-width: 764px;
    text-transform: uppercase;
    margin-bottom: 60px;

}

.red-text {
    color: #F54932;
    font-weight: bold;
}

.main__tournament-img {
    max-width: 394px;
    max-height: 250px;
}

.main__chess-session {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.main__chess-session-container {
    max-width: 704px;
}

.main__chess-session-img {
    max-width: 474px;
    min-height: 527px;
    width: 100%;
    border : 2px solid #F54932;
}

.main__chess-session-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 47px;
}

.main__chess-session-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D0D0D0;
    color: #313131;

}


.main__chess-session-item-text {
    max-width: 50%;
    width: 100%;
    padding: 16px 16px 16px 0;
    border-right: 1px solid #D0D0D0;
}

.main__chess-session-item-info {
    max-width: 50%;
    width: 100%;
    font-weight: 600;
    padding: 16px 16px 16px 16px;

}

.main__chess-session-item-info span {
    position: relative;
    color: black; /* Цвет текста */
}



.main__chess-session-item-info span::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 2px;
    background-color: #F54932;
}

.main__chess-session-item:first-child .main__chess-session-item-text {
    padding-top: 0;
}

.main__chess-session-item:first-child .main__chess-session-item-info {
    padding-top: 0;

}

.main__chess-session-info {
    color: #3057A2;
    font-family: "Golos Text", sans-serif;
    font-size: 20px;
}

.main__chess-session-item:last-child {
    border: none;
}

.main__chess-session-item:last-child .main__chess-session-item-text {
    padding-bottom: 0;
}

.main__chess-session-item:last-child .main__chess-session-item-info {
    padding-bottom: 0;

}